<!-- Duplicated code. Need to refactor this to a common layout -->
<div class="header-bar">
    <ng-template [ngIf]="user" [ngIfElse]="elseLogin">
        <span class="welcome-message">{{ welcomeMessage }} (<a class="logout" (click)="userService.logout()">Logout</a>)</span>        
        <span class="cart-status"><a routerLink="/cart">Your Cart({{cartService.cartCount}} Items)</a></span>
    </ng-template>
    <ng-template #elseLogin>
        <a routerLink="/login">Login</a>
    </ng-template>    
</div>
<h1>Store</h1>
<ul class="products">
    <li *ngFor="let product of products">
        <div class="product">
            <a class="image-link" routerLink="/product-detail/{{product.id}}">
                <img src="https://via.placeholder.com/90">
            </a>                
            <a class="text-link" routerLink="/product-detail/{{product.id}}">{{product.name}}</a>
        </div>
    </li>
</ul>